name: Reusable GitLeaks Scan

on:
  workflow_call:

jobs:
  gitleaks-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run GitLeaks Scan
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --no-banner

