name: Reusable Gitleaks Scan

on:
  workflow_call:

jobs:
  gitleaks-scan:
    name: Reusable Gitleaks Scan
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Step 2: Run Gitleaks without SARIF
      - name: Run Gitleaks
        uses: zricethezav/gitleaks-action@v2.3.6
        with:
          args: detect --source . --redact --exit-code=0 --log-level=debug
